 <div class="selection" fxLayout="row" fxLayoutGap="50px" >
   <div>
   <mat-form-field>
   <mat-label>QMC Versions</mat-label>
   <mat-select (selectionChange)="onSelectQMCVersion($event.value)" [(value)]="selectedQMCVersion">
     <mat-option *ngFor="let version of qmcversions" [value]="version">
       {{version}}
     </mat-option>
   </mat-select>
 </mat-form-field>
   </div>
   <div>
   <mat-form-field>
     <mat-label>Cycle</mat-label>
     <mat-select [(value)]="selectedCycle">
       <mat-option *ngFor="let cycle of cycles" [value]="cycle">
         {{cycle}}
       </mat-option>
     </mat-select>
   </mat-form-field>
   </div>
   <div>
     <button mat-raised-button (click)="view()">View</button>
   </div>
 </div>




<!--<div fxLayout="row" fxLayoutGap="50px" class="parentbutton">-->


<!--<mat-form-field fxLayout="row" fxLayoutGap="50px">-->

<!--    <div>-->
<!--      <input matInput [matDatepicker]="fromPicker" placeholder="From date" [formControl]="fromDateControl">-->
<!--      <mat-datepicker-toggle matSuffix [for]="fromPicker"></mat-datepicker-toggle>-->
<!--      <mat-datepicker #fromPicker></mat-datepicker>-->
<!--    </div>-->
<!--</mat-form-field>-->

<!--<mat-form-field fxLayout="row" fxLayoutGap="50px">-->

<!--  <div>-->
<!--    <input matInput [matDatepicker]="toPicker" placeholder="To date" [formControl]="toDateControl">-->
<!--    <mat-datepicker-toggle matSuffix [for]="toPicker"></mat-datepicker-toggle>-->
<!--    <mat-datepicker #toPicker></mat-datepicker>-->
<!--  </div>-->
<!--</mat-form-field>-->

<!--  <div class="parentbutton">-->


<!--  </div>-->




<mat-table *ngIf="data" [dataSource]="data">
  <ng-container *ngFor="let column of columns ; let colIndex = index" [matColumnDef]="column">
    <mat-header-cell *matHeaderCellDef>{{ columnNames[colIndex] }}</mat-header-cell>
    <mat-cell triggers="mouseenter:mouseleave"  [ngbPopover]="popContent"  *matCellDef="let row"  [ngStyle]="{'background-color': colorCodes[row[column]['state']]}">
      <ng-template #popContent>
        <div *ngIf="row[column]['state'] ==0 else notCompatibleTemplate">
           No Runs
        </div>
      </ng-template>
      <ng-template #notCompatibleTemplate>

        <div *ngIf="row[column]['state'] == -1 else hasRunsTemplate">
          Not compatible
        </div>


      </ng-template>

      <ng-template #hasRunsTemplate>
        <div>
          Passed Runs : {{ row[column]['Passed'] }}
        </div>
        <div>
          Failed Runs : {{ row[column]['Failed'] }}
        </div>

      </ng-template>

      <div >
        {{ row[column]['value'] }}

      </div>


    </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="columnHeaders"></mat-header-row>
  <mat-row *matRowDef="let row; columns: columns;"></mat-row>
</mat-table>
